.announcements-dashboard {
    padding: 8% 8%; /* top right bottom left */
  }
  
  .dashboard-grid {
    font-family: 'Press Start 2P';
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Adjust these values based on your preference */
    gap: 20px; /* Space between columns */
    width: 100%; /* Adjust based on the maximum width you prefer */
  }
  
  .enrolled-courses{
    background-color: rgb(119, 119, 122);
    padding: 20px;
    border: 1px solid #ccc; /* Just for visual separation, adjust as needed */
    border-radius: 5px; /* Optional, for rounded corners */
  }

  .announcements {
    background-color: rgb(119, 119, 122);
    padding: 15px;
    border: 1px solid #ccc; /* Just for visual separation, adjust as needed */
    border-radius: 5px; /* Optional, for rounded corners */
  }