.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.course-card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-thumbnail {
  height: 100px;
  /* Set a background image if you have one */
}

.course-thumbnail .delete-button {
  width: 20%;
  height: 25%;
  line-height: 25%; /* Same as the height to center the text vertically */
  padding: 10px;
  background-color: inherit;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  position: absolute; /* Position absolutely within .course-thumbnail */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  z-index: 10; /* Ensure it's above other elements */
  margin: 0px;
}

.course-name {
  padding-top: 8px;
  font-size: 0.9em;
}
