/* Header Styles */
.site-header {
  background-color: rgb(119, 119, 122);
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
  padding: 0px 30px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in the width */
  position: fixed; /* Fixes the header at the top of the viewport */
  top: 0; /* Aligns the header to the top */
  left: 0; /* Aligns the header to the left */
  right: 0; /* Ensures the header extends full width */
  z-index: 1000; /* Ensures the header is above other content */
}
/* Logo Styles */
.site-header .logo img {
  height: auto; /* Set height to auto to maintain aspect ratio */
  max-height: 70px; /* Set maximum height for the logo */
  width: auto; /* Allow the width to adjust automatically */
}

.site-header .cart-icon {
  position: relative; /* The container should be relative if the icon is absolute */
}
/* Cart Icon Styles */
.site-header .cart-icon i {
  font-size: 3rem; /* Icon size */
  color: #000000; /* Icon color */
}

/* Header.css */
.gold-coin-icon {
  width: 24px; /* Or any size you prefer */
  height: auto;
  margin-right: 8px;
}

.remaining-bucks {
  display: flex;
  align-items: center;
  /* Add more styles as needed */
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .site-header {
    flex-direction: column; /* Stack items vertically on mobile */
    padding: 10px;
  }

  .site-header .logo,
  .site-header .cart-icon {
    margin-bottom: 10px; /* Space out logo and cart icon from nav */
  }

  .site-header .logo img {
    max-height: 50px; /* Adjust logo size for mobile */
  }
}

.site-header .main-nav {
  overflow: hidden;
  margin-left: 400px ;
}

.site-header .main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-header .main-nav ul li {
  float: left;
}

.site-header .main-nav ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.site-header .main-nav ul li a:hover {
  background-color: rgb(91, 91, 92);
}
