.site-header {
    background-color: #2a2e30;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  /* Logo Styles */
.site-header .logo img {
  height: auto; /* Set height to auto to maintain aspect ratio */
  max-height: 50px; /* Set maximum height for the logo */
  width: auto; /* Allow the width to adjust automatically */
}
  
  .site-header .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .site-header .main-nav ul li {
    margin-left: 20px;
  }
  
  .site-header .main-nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }
  
  /* Additional styling for hover effect */
  .site-header .main-nav ul li a:hover {
    color: #2c3e50;
  }
  