/* Header Styles */
.site-header {
  background-color: #ffffff00;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
  padding: 0px 30px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in the width */
  position: fixed; /* Fixes the header at the top of the viewport */
  top: 0; /* Aligns the header to the top */
  left: 0; /* Aligns the header to the left */
  right: 0; /* Ensures the header extends full width */
  z-index: 1000; /* Ensures the header is above other content */
}
.cart-icon {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust this value as needed for space between elements */
}
/* Logo Styles */
.site-header .logo img {
  height: auto; /* Set height to auto to maintain aspect ratio */
  max-height: 70px; /* Set maximum height for the logo */
  width: auto; /* Allow the width to adjust automatically */
}

.site-header .cart-icon {
  position: relative; /* The container should be relative if the icon is absolute */
}
/* Cart Icon Styles */
.site-header .cart-icon i {
  font-size: 3rem; /* Icon size */
  color: #000000; /* Icon color */
}

/* Header.css */
.gold-coin-icon {
  width: 24px; /* Or any size you prefer */
  height: auto;
  display: flex;
}

.logout-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 5px 10px; /* Reduced padding */
  margin-left: 20px;
  font-size: 0.9rem; /* Keep font-size consistent */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  align-self: center;
  width: 80px; /* You can adjust this value as needed */
}

.cart-icon .remaining-bucks {
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust the space between icon and text */
}
.cart-icon .remaining-bucks,
.cart-icon .bi-cart3,
.cart-icon .logout-button {
  display: flex;
  align-items: center;
}
.cart-icon.instructor {
  display: grid;
  grid-template-columns: 0fr 0fr;
  align-items: center;
  float: right;
  gap: 10px;
}

.cart-icon.student {
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
  align-items: center;
  float: right;
  gap: 10px;
}

.cart-icon .bi-cart3 {
  font-size: 1.5rem; /* Example size for cart icon */
  width: auto;
  height: auto;
}

.logout-button:hover {
  background-color: #0000004b; /* A darker red for the hover state */
}

.logout-button:focus {
  outline: none; /* Removes the default focus outline */
  box-shadow: 0 0 0 3px rgba(30, 30, 30, 0.5); /* Adds a custom focus style */
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .site-header {
    flex-direction: column; /* Stack items vertically on mobile */
    padding: 10px;
  }

  .site-header .logo,
  .site-header .cart-icon {
    margin-bottom: 10px; /* Space out logo and cart icon from nav */
  }

  .site-header .logo img {
    max-height: 50px; /* Adjust logo size for mobile */
  }
}
