@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.leaderboard {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.leaderboard h2 {
  font-family: 'Press Start 2P';
  font-size: 10px;
  text-align: center;
}

.leaderboard-content {
  display: flex;
  flex-direction: column;
}

.today-leader {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(odd) {
  background-color: #b6b3b3;
}

table td {
  padding: 8px;
  border: 1px solid #dddddd;
  text-align: left;
  font-family: 'Press Start 2P';
  font-size: 10px;
}

.remaining-bucks {
  text-align: right;
  margin-top: 20px;
  font-family: 'Press Start 2P';
  font-size: 10px;
}

.leader-image {
  width: 100px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%; /* Makes the image round */
  margin-right: 10px;
}

.table-leader-image {
  width: 50px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%; /* Makes the image round */
}
