.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .columns {
    padding: 8% 8% 4% 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 20px;
  }
  
  .column {
    border: 5px;
    border-color: black;
    background-color: aqua; 
  }

  .button-container {
    margin-top: 10px;
  }

  /*TODO: Come back and figure this out*/
  @media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        padding-top: 50%;
    }
  }
  85 minutes