/* Existing desktop styles */
.login-container {
  padding-top: 10%;
  padding-left: 35%;
  padding-right: 35%;
  padding-bottom: 5%;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; /* Background color */
}

.login-form {
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  text-align: center;
}

.login-form .username,
.login-form .password,
.login-form .button {
  padding: 2px;
}

.login-form input {
  width: 40%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.login-form button {
  width: 20%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #333;
}

.login-form span {
  margin-left: 5px;
  margin-right: 5px;
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .login-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50%; /* Reduce top padding for mobile */
    padding-bottom: 30%; /* Adjust bottom padding for mobile */
  }

  .login-form input,
  .login-form button {
    width: 80%; /* Increase width for mobile to make it easier to interact with */
  }

  .login-form button {
    width: 80%; /* Ensure button width is also adjusted for mobile */
  }
}
