/* TasksComponent.css */

.completed-task {
  background-color: #f4f4f4; /* Light grey background */
  border-radius: 8px;
  padding: 20px;
}
.task-block {
  border-radius: 8px;  
  border: 1px solid #ddd; /* Light grey border */  
  margin-bottom: 5px;
}

h2 {
  color: #333; /* Dark grey color for text */
  margin-bottom: 16px;
}

ul {
  list-style-type: none; /* Remove default list bullet points */
  padding: 0;
}

li {
  background-color: #fff; /* White background for each task */
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px; /* Space between tasks */
  display: flex;
  justify-content: space-between; /* Align title and status at opposite ends */
  align-items: center;
}

.completed-tasks ul li.completed {
  background-color: #e0ffe0; /* Light green background for completed tasks */
}

.completed-tasks ul li.incomplete {
  background-color: #ffe0e0; /* Light red background for pending tasks */
}

.task-title {
  font-size: 16px;
}
